.header-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
}

/* ---------------------------------------------------- Logo Styles --------------------------------------------- */
.logo {
  grid-area: logo;
  display: flex;
  width: 200px;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  object-fit: contain;
  justify-content: center;
}
.logo a {
  height: 100%;
}
i {
  font-size: medium !important;
}
.logo img {
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  height: 100%;
  width: auto;
  height: auto;
}
